@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
    margin: 0; padding: 0;
}

html {
    height: 100%;
}


h2{
   font-size:12pt;
   }
   
body {
    background-color: #eee;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: 'Quicksand', sans-serif;
    color: #000;    
}

.fa {
	font-size:18pt;
}


.options-btn {
    color: #000;
    font-size: 30pt;
    /*position: absolute;*/
    text-align:left;
    transform: rotateZ(0deg);
    cursor: pointer;
    transition: transform 0.3s;
    
    &:hover {
      transform: rotateZ(60deg);
    }
}
  
 .options {
    max-height: 1000px !important;
    padding: 15px;
    overflow: visible !important;
    border: 2px solid gray;
    display: none;
    background: #FFF;
    color: #333;
    overflow: hidden;
    transition: all 0.25s;
    
    .up {
      color: #FFF;
      font-size: 22px;
      position: absolute;
      top: -14px;
      right: 3px;
      z-index: 500;
      transform: rotateZ(180deg);
    }
    
    label {
      display: block;
      margin-top: 10px;
    }
  }


.row {
   width: 60%;	
}


h4{
       font-size:26pt;
 }

@media only screen and (max-width: 700px) {
    .row{
	   width: 95%;
    }
    
    h4{
       font-size:22pt;
       }
    
    #play-button {
        width: 60%;
        height: 45%;
    }
}



.column {
  float: left;
  width: 50%;
  display: inline;
}

.column2 {
  float: left;
  width: 20%;
  font-weight:bold;
  font-size:14px;
  display: inline;
  margin: auto;
}

.current {
   padding:10px;
   background: #ffc966;
 }

.next {
   padding:10px;
   margin-left: 10px;
   background: orange;
   
 }
 


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#play-button {
    width: 45%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.title {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18pt;
}

#tempo {
    font-size: 40px;
}

.bpm {
    font-size: 12px;
    text-align: center;
}

.tempo-controls {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.tempo-container {
    margin: 0 15px;
}



.input {
  background: none;
  border: none;
  outline: none;
  width: 30px;
  max-width: 190px;
  padding: 10px 20px;
  /*border-radius: 9999px;*/
  box-shadow: inset 1px 1px 5px rgb(5, 5, 5);
  color: #fff;
  font-size:16pt;
  font-weight: bold;
}


#bar-changer{
   /*width:90%; 
   background:DodgerBlue; */
    background:dodgerBlue;
   text-align:center; 
   margin-bottom:10px; 
   padding:5px; 
   color:white;
}

#bar-changer label{	
   font-size:12pt;
    font-weight:500;
}

#bar-changer .column2{
   padding-top:10px;
   }

#bar-counter{
   /*width:90%; 
   background:DodgerBlue; */
   background: dodgerBlue;
   text-align:center; 
   margin-bottom:0px; 
   padding:5px; 
   color:white;
}

#bar-counter #counter{
	/*margin-top:10px;*/
	font-size:22pt;
}

button {
    padding: 6px;
    border: none;
    /*border-radius: 5%;*/
    width: 40px;
    height: 40px;
    margin: 5px;
    background: dodgerBlue;
    color: #e9e9e9;
    cursor: pointer;
}

button:focus {
    outline: none;
}


a {
    color: #e9e9e9;
}

a:hover {
    color: #356161;
}






.play {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #e9e9e9;
    margin-left: 15px;
}

.pause {
    width: 15px;
    height: 60px;
    border: none;
    border-left: 15px solid #e9e9e9;
    border-right: 15px solid #e9e9e9;
}
